@font-face {
    font-family: 'Outfit';
    font-display: swap;
    font-weight: 100 900;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
    format('truetype')
}

@font-face {
    font-family: 'Young-serif';
    font-display: swap;
    font-weight: 100 900;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf)
    format('truetype')
}

:root {
    --clr-primary-1:hsl(14, 45%, 36%);
    --clr-primary-2-hsl:332, 51%, 32%;
    --clr-primary-2:hsl(332, 51%, 32%);

    --clr-neutral-1:hsl(0, 0%, 100%);
    --clr-neutral-2-hsl:330, 100%, 98%;
    --clr-neutral-2:hsl(331, 51%, 91%);

    --clr-neutral-3:hsl(30, 54%, 90%);
    --clr-neutral-4:hsl(30, 18%, 87%);
    --clr-neutral-5:hsl(30, 10%, 34%);
    --clr-neutral-6:hsl(24, 5%, 18%);
    --clr-neutral-6-hsl:24, 5%, 18%;

    --default-font-family: 'Outfit';
    --header-font-family: 'Young-serif';

    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 2.5rem;

    --fw-regular: 400;
    --fw-bold: 600;
    --fw-black: 700;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.nowrap {
    text-wrap: nowrap;
}

.grid-flow {
    display: grid;
    gap: 1rem;
}


body {
    min-height: 100vh;
    font-family: var(--default-font-family);
    font-size: var(--fs-400);
    background-color:var(--clr-neutral-2);
    color: var(--clr-neutral-6)
}

@media (min-width: 600px) {
    body {
        display: grid;
        place-content: center;
    }
}

.site {
    background: var(--clr-neutral-1);
    width: 100vw;
}

.main {
    padding: 2rem;
}

@media (min-width: 600px) {
    .site {
        margin-block: 10rem;
        width: 40rem;
        padding: 2rem;
        border-radius: 1rem;
    }
    .main {
        padding: 0;
    }
}

.hero__h1 {
    font-family: var(--header-font-family);
    font-size: calc(var(--fs-900) * 0.9);
    font-weight: var(--fw-black);
    color:var(--clr-neutral-6);
    padding: 2rem;
}

@media (min-width:600px) {
    .hero__h1 {
        font-size: var(--fs-900);
        padding: 0;
    }
    .hero__img {
        border-radius: .5rem;
    }
}

p {
    line-height: 1.5;
}

.card {
    background-color: hsla(var(--clr-neutral-2-hsl), 1);
    border-radius: .75rem;
    padding: 1.5rem;
}

.card_title {
    color: var(--clr-primary-2);
    font-weight: var(--fw-black);
    font-size: var(--fs-500);
}

.card ul li::marker {
    color:var(--clr-primary-2);
    font-size: .75rem;
}
.card ul li {
    padding-left: 1rem;
    margin-block: 1rem;
}
li span {
    display: inline-block;
    vertical-align: middle;
}

b {
    font-weight: var(--fw-bold);
}

h2 {
    font-size: calc(var(--fs-800) * 0.9);
    font-weight:var(--fw-black);
    font-family: var(--header-font-family);
    color:var(--clr-primary-1);
}

@media (min-width: 600px) {
    h2{
        font-size: var(--fs-800);
    }
    
}

.ingredients-ul {
    padding-left: 1.5rem;
}

.ingredients-ul li::marker{
    color:var(--clr-primary-1);
    font-size: .75rem;
}

.ingredients-ul li {
    line-height: 1.5;
    padding-left: 1rem;
    list-style-position: outside;
}

hr {
    color: var(--clr-neutral-6);
}

ol {
    padding-left: 1.5rem;
}

ol li::marker {
    color:var(--clr-primary-1);
    font-weight: bold;
}

ol li {
    padding-left: 1rem;
    line-height: 1.5;
    margin-bottom : .75rem;
}

table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid hsla(var(--clr-neutral-6-hsl), .3);
}

tr:last-child {
    border: none;
}

td {
    font-weight: var(--fw-bold);
    color: var(--clr-primary-1);
}

td, th {

    padding: 1rem;
}